/*---------------------------------------------------------
 NAME: Megan Galbraith
 
 REMARKS: The style sheet for the server page the Raspberry Pi hosts
----------------------------------------------------------*/

/*---------MAIN STYLES--------*/

* {
    font-family: 'Montserrat', sans-serif;
}

/* body style */
/* button style */
/* images, maybe? */
/* footer (attributions?) */