/*---------------------------------------------------------
 NAME: Megan Galbraith
 
 REMARKS: The style sheet for the server page the Raspberry Pi hosts
----------------------------------------------------------*/

/*---------MAIN STYLES--------*/

* {
    font-family: 'Montserrat', sans-serif;
}
header {
    color: black;
    font-size: 1.75em;
    background-image: linear-gradient(rgb(225, 30, 107), rgb(204, 225, 30), rgb(30, 225, 148), rgb(49, 30, 225));
    max-width: 100%;
    /* padding: 50px 20px; */
    padding: 0 10px;
    margin: -10px 0 -10px -10px;
    align-items: center;
}
body {
    /* background: #F3E9D2; */
    background: rgb(45, 45, 45);
    color: white;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}
a {
    text-decoration: none;

}
.content-wrapper {
    max-width: 1000px;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}


/*--------BUTTONS--------*/
.button-block {
    max-width: 300px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
button {
    background-color: rgb(45, 45, 45);
    border-radius: 12px;
    box-shadow: 0 6px #999;
    margin: 5px auto;
}
button:hover {
    background-color: rgb(65, 65, 65);
}
button:active {
    background-color: rgb(65, 65, 65);
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
#forward, #reverse {
    display: block;
}
#left, #right {
    margin: 5px 5px;
}
#stop {
    margin: 10px 5px;
}


/*--------RADIO BUTTONS--------*/
.speedometer {
    font-size: 1.5em;
    min-width: 150px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
input[type=radio] {
    display: inline-block;
    margin: 10px auto;
    transform: scale(1.5);
}
label {
    margin-right: 20px;
    margin-left: 7px;
    /* margin: 0 20px -25px 7px; */
}


/*--------FOOTER--------*/
footer {
    /* background: #6f6f6f; */
    background-image: linear-gradient(rgb(49, 30, 225), rgb(30, 225, 148), rgb(204, 225, 30), rgb(225, 30, 107));
    color: black;
    font-weight: 600;
    /* display: inline-block; */
    width: 100%;
    padding: 10px;
    margin: 0 -10px;
    position: fixed;
    bottom: 0;
}
.icon {
    max-width: 42px;
    margin: 0 0 -15px 0;
}
/* .footer-left {
    text-align: left;
    //position: fixed;
    left: 0;
    padding-right: 10px;
}
.footer-right {
    text-align: right;
    //position: fixed;
    right: 0;
    padding: 0 20px;
} */